# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# MacOS General
.DS_Store
__MACOSX/

# Python
__pycache__/
.pytest_cache/
.venv/
uv.lock

# Claude Code
.claude/